---
import "../styles/global.css";
import Main from "../components/main.astro";
import Quote from "../components/quote.astro";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro";
import Gallery from "../components/gallery.astro";
import Contact from "../components/contact.astro";

const quotes = [
    {
        title: "Навчайся.",
        gradient: "blue-gradient",
        text: "Кожен, хто перестає вчитися, старіє.",
        author: "ГЕНРІ ФОРД",
        dataWord: "ГЕНРІ ФОРД",
    },
    {
        title: "Розвивайся.",
        gradient: "purple-gradient",
        text: "Нескінченне прагнення бути кращим є обов'язком людини.",
        author: "МАХАТМА ГАНДІ",
        color: "white",
        dataWord: "МАХАТМА ГАНДІ",
    },
    {
        title: "Еволюціонуй.",
        gradient: "pink-gradient",
        text: "Хто хоче змінити світ, хай змінить себе!",
        author: "СОКРАТ",
        dataWord: "СОКРАТ",
    },
];
---

<Layout>
    <head>
        <script
            src="https://kit.fontawesome.com/f6c8f7da80.js"
            crossorigin="anonymous"
            async
        ></script>
    </head>
    <Navigation />
    <main class="">
        <Main />

        {
            quotes.map((quote) => {
                const { title, gradient, text, author, color, dataWord } =
                    quote;

                return (
                    <Quote
                        title={title}
                        gradient={gradient}
                        text={text}
                        author={author}
                        color={color}
                        dataWord={dataWord}
                    />
                );
            })
        };

        <Gallery />
        <Contact />
    </main>
</Layout>
